/* ###################################################################
* Section common with Gnome Shell
* ... contains a few cinnamon specific styles (rare occurences)
* ###################################################################*/
stage {
  font-family: Noto Sans, sans-serif;
  color: white;
}

.cinnamon-link {
  color: #0000ff;
  text-decoration: underline;
}

.cinnamon-link:hover {
  color: #0000e0;
}

.label-shadow {
  color: rgba(0,0,0,0.5);
}

/* ===================================================================
 * Scrollbars
 * ===================================================================*/
StScrollView.vfade {
  -st-vfade-offset: 0px;
}

StScrollView StScrollBar {
  min-width: 17px;
  min-height: 17px;
}

StScrollBar {
  padding: 0px;
}

StScrollBar StBin#trough {
  background-color: rgba(0,0,0,0.2);
}

StScrollBar StButton#hhandle,
StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover {
  border-image: url('outset-shadow.png') 3;
}

.menu-applications-box StButton#vhandle {
  background: url('menu/handle-vert.png') no-repeat center center;
}

.menu-applications-box StButton#vhandle:hover {
  background: url('menu/handle-vert.png') no-repeat center center;
}

/* ===================================================================
 * Tooltip
 * ===================================================================*/
#Tooltip {
  border: 1px solid rgba(57,156,238,1.0);
  border-radius: 0px;
  padding: 2px 12px;
  background-gradient-end: rgba(57,156,238,0.9);
  background-gradient-start: rgba(57,156,238,0.9);
  background-gradient-direction: vertical;
  color: #fff;
  font-size: 8.5pt;
  font-weight: normal;
  text-align: center;
}

/* ===================================================================
 * Shared button properties 
 * ===================================================================*/
.notification-button, .notification-icon-button,
.modal-dialog-button {
  color: white;
  background: none;
  background-gradient-direction: none;
  border: 1px solid;
  border-image: url('buttons/button.png') 5;
}

.notification-button:hover,
.notification-icon-button:hover, .modal-dialog-button:hover {
  border-image: url('buttons/button-hover.png') 5;
}

.notification-button:focus,
.notification-icon-button:focus,
.modal-dialog-button:focus {
  background: none;
  border: 1px solid;
  border-image: url('buttons/button-focused.png') 5;
}

.notification-button:active, .notification-icon-button:active,
.modal-dialog-button:active, .modal-dialog-button:pressed {
  background: none;
  border: 1px solid;
  border-image: url('buttons/button-pressed.png') 5;
}

/* ===================================================================
 * PopupMenu (popupMenu.js) 
 * ===================================================================*/

.popup-menu-boxpointer {
  -arrow-border-radius: 16px;
  -boxpointer-gap: -1px;
  -arrow-base: 40px;
}

/* Cinnamon 3.2 fix */
.popup-menu,
.menu {
  border: solid 4px black;
  border-image: url('menu/popupmenu.png') 8 8 8 8;
  color: #000;
  font-size: 9pt;
}
.popup-submenu-menu-item:open {
  background-color: #4c4c4c;
}
.popup-sub-menu {
  background-color: transparent;
}
.popup-sub-menu .popup-menu-item:ltr {
  padding-right: 0em;
}
.popup-sub-menu .popup-menu-item:rtl {
  padding-left: 0em;
}
.popup-sub-menu StScrollBar {
  padding: 4px;
}
.popup-sub-menu StScrollBar StBin#trough {
  border-width: 0px;
}
.popup-sub-menu StScrollBar StBin#vhandle {
  background-color: #4c4c4c;
  border-width: 0px;
}
.popup-combo-menu {
  background-color: rgba(0,0,0,0.9);
  padding: 1em 0em;
  color: #000;
  font-size: 10.5pt;
  border: 1px solid #315aab;
  border-radius: 0px 0px 8px 0px;
}
/* The remaining popup-menu sizing is all done in ems, so that if you
* override .popup-menu.font-size, everything else will scale with it.
*/
.popup-menu-content {
  padding: 1em 0;
}
.popup-menu-item {
  padding: .4em 1.75em;
  spacing: 1em;
  border: 2px solid transparent;
}
.popup-menu-item:active {
  background-color: #315aab;
  color: white;
}
.popup-menu-item:insensitive {
  color: #9f9f9f;
}
.popup-image-menu-item {
}
.popup-combobox-item {
  spacing: 1em;
}
.popup-separator-menu-item {
  -gradient-height: 1px;
  -gradient-start: rgba(0,0,0,0);
  -gradient-end: rgba(255,255,255,0.2);
  height: 1px;
}
.popup-alternating-menu-item:alternate {
  font-weight: bold;
}
.popup-slider-menu-item {
  height: 1em;
  min-width: 15em;
  -slider-height: 0.3em;
  -slider-background-color: #666666;
  -slider-border-color: #555555;
  -slider-active-background-color: #315aab;
  -slider-active-border-color: #DDDDDD;
  -slider-border-width: 1px;
  -slider-handle-radius: 0.5em;
}
.popup-device-menu-item {
  spacing: .5em;
}
.popup-inactive-menu-item {
  font-weight: normal;
  color: #999;
}
.popup-subtitle-menu-item {
  font-weight: bold;
}
.popup-menu-icon {
  icon-size: 1.14em;
}

/* ===================================================================
 * Switches (to be used in menus)
 * ===================================================================*/
.toggle-switch {
  width: 52px;
  height: 18px;
}

.toggle-switch-us, .toggle-switch-intl {
  background-image: url('checkbox/checkbox-off.png');
}

.toggle-switch-us:checked, .toggle-switch-intl:checked {
  background-image: url('checkbox/checkbox.png');
}

.nm-menu-item-icons {
  spacing: .5em;
}
/* ===================================================================
 * Panel (panel.js)
 * ===================================================================*/
#panel {
  color: #ffffff;
  text-shadow: black 0px 1px 1px;
  background-color: #013c6b;
  font-size: 9pt;
  border-image: url('panel/panel.png') 80 0 0 0;
  font-weight: normal;
  height: 30px;
  outline: 1px rgba(0,0,0,1);
}

#panelLeft, #panelCenter {
  spacing: 4px;
}

#panelRight {
  border-image: url('panel/panel-right.png') 7 0 0 0;
}

#panelLeft .applet-box:first-child {
  border-image: url('panel/menu-box.png') 7 0 0 0;
  border-right-width: 10px;
  font-size: 12pt;
  font-style: italic;
  font-weight: bold;
}

#panelLeft .applet-box:first-child:hover {
  border-image: url('panel/menu-hover.png') 7 0 0 0;
}

#panelLeft .applet-box:first-child:active {
  border-image: url('panel/menu-active.png') 7 0 0 0;
}

#panelLeft:dnd {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,0,0,0.05);
  background-gradient-end: rgba(255,0,0,0.4);
}

#panelCenter:dnd {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0,255,0,0.05);
  background-gradient-end: rgba(0,255,0,0.4);
}

#panelRight:dnd {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0,0,255,0.05);
  background-gradient-end: rgba(0,0,255,0.4);
}

#panelLeft:ltr {
  padding-right: 4px;
}

#panelLeft:rtl {
  padding-left: 4px;
}

#panelRight:ltr {
  padding-left: 0px;
  spacing: 0px;
}

#panelRight:rtl {
  padding-right: 0px;
  spacing: 0px;
}

.panel-top {
}

.panel-bottom {
}

.panel-status-button,
.panel-button {
  -natural-hpadding: 5px;
  -minimum-hpadding: 5px;
  font-weight: bold;
  border: 1px solid transparent;
  transition-duration: 150;
}

.panel-status-button:hover,
.panel-button:hover {
  background-color: rgba(25,25,25,0.1);
  border-radius: 0px;
  transition-duration: 100;
}

.panel-status-button:active {
  color: white;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(30,30,30,1);
  background-gradient-end: rgba(50,50,50,1);
}

.system-status-icon {
  padding-left: 0px;
  padding-right: 0px;
  spacing: 0px;
  margin: 0px;
}

#appMenu {
  spacing: 4px;
}

.panel-button #appMenuIcon {
  app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
  app-icon-bottom-clip: 2px;
}

.system-status-icon {
  icon-size: 1.14em;
}

/* ===================================================================
 * Overview 
 * ===================================================================*/
#overview {
	spacing: 12px;
}

.window-caption,
.expo-workspaces-name-entry,
.expo-workspaces-name-entry#selected {
	background-color: rgba(0,0,0,0.7);
	color: white;
	spacing: 25px;
	border-radius: 2px;
	font-size: 9pt;
	padding: 5px 8px;
	-cinnamon-caption-spacing: 4px;
}

.window-caption#selected {
  background-color: #000;
  border-radius: 0px;
  color: #fff;
  spacing: 25px;
}

.expo-workspaces-name-entry,
.expo-workspaces-name-entry#selected {
  height: 15px;
  border: 1px solid rgba(255,255,255,0.2);
}

.expo-workspaces-name-entry#selected:focus,
.expo-workspaces-name-entry:focus {
  border: 1px solid rgba(64,128,251,0.8);
  font-style: italic;
  transition-duration: 300;
  selection-background-color: #4080FB;
}

.expo-workspace-thumbnail-frame {
  border: 4px solid rgba(255,255,255,0.3);
  background-color: rgba(64,64,64,0.9);
  border-radius: 4px;
}

.expo-workspace-thumbnail-frame#active {
  border: 4px solid rgba(64,128,251,0.8);
  background-color: rgba(32,32,32,0.9);
  border-radius: 4px;
}

.expo-background {
  background-color: #282829;
}

.workspace-controls {
  visible-height: 32px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
  border: 1px #399cee;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-radius:  0px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
}

.workspace-thumbnails-background:rtl {
  border-right: 1px;
  border-left: 0px;
  border-radius: 9px 9px 0px 0px;
}

.workspace-thumbnails {
  spacing: 14px;
}

.workspace-add-button {
  background-image: url('menu/add-workspace.png');
  height: 200px;
  width: 35px;
  transition-duration: 300;
}

.workspace-add-button:hover {
  background-image: url('menu/add-workspace-hover.png');
  transition-duration: 300;
}

.workspace-close-button,
.window-close {
  background-image: url('menu/close-normal.png');
  height: 32px;
  width: 32px;
  -cinnamon-close-overlap: 16px;
}

.workspace-close-button:hover,
.window-close:hover {
    background-image: url('menu/close-hover.png');
}

.workspace-close-button:active,
.window-close:active {
    background-image: url('menu/close-active.png');
}
/*
.workspace-thumbnail-indicator {
	outline: 2px solid red;
	border: 1px solid green;
}

.window-close:rtl {
	-st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}
*/
.window-close-area {
  background-image: url('menu/trash-icon.png');
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #399cee;
  border-bottom: 0px;
  border-radius: 0px;
  height: 120px;
  width: 400px;
}
/*Don't know what this does*/
.overview-icon {
	border-radius: 4px;
	padding: 3px;
	border: 1px rgba(0,0,0,0);
	font-size: 7.5pt;
	color: white;
	transition-duration: 100;
	text-align: center;
}

.workspace-overview-background-shade {
  background-color: rgba(0,0,0,0.5);
}

/* ===================================================================
 * About Dialog (applet.js and desklet.js)
 * ===================================================================*/
.about-content {
  width: 550px;
  height: 250px;
  spacing: 8px;
  padding-bottom: 10px;
}

.about-title {
  font-size: 2em;
  font-weight: bold;
}

.about-uuid {
  font-size: 10px;
  color: #888;
}

.about-icon {
  padding-right: 20px;
  padding-bottom: 14px;
}

.about-scrollBox {
  border: 1px solid #171819;
  border-radius: 2px;
  background-color: #2B2B2C;
  padding: 4px;
  padding-right: 0;
  border-radius: 0;
}

.about-scrollBox-innerBox {
  padding: 1.2em;
  spacing: 1.2em;
}

.about-description {
  padding-top: 4px;
  padding-bottom: 16px;
}

.about-version {
  padding-left: 7px;
  font-size: 10px;
  color: #888;
}

/* ===================================================================
 * Date applet 
 * ===================================================================*/
.calendar {
  padding: .4em 1.75em;
  spacing-rows: 0px;
  spacing-columns: 0px;
}

.calendar-month-label {
  color: #000000;
  font-weight: bold;
  padding: 8px 0;
}

.calendar-change-month-back {
  width: 16px;
  height: 16px;
  background-image: url('menu/left-stepper.png');
  border-radius: 2px;
}

.calendar-change-month-back:rtl {
  background-image: url('menu/right-stepper.png');
}

.calendar-change-month-back:hover {
  background-color: #ffffff;
}

.calendar-change-month-back:active {
  background-color: #ffffff;
}

.calendar-change-month-forward {
  width: 16px;
  height: 16px;
  background-image: url('menu/right-stepper.png');
  border-radius: 2px;
}

.calendar-change-month-forward:rtl {
  background-image: url('menu/left-stepper.png');
}

.calendar-change-month-forward:hover {
  background-color: #ffffff;
}

.calendar-change-month-forward:active {
  background-color: #ffffff;
}

.datemenu-date-label {
  padding: .4em 1.75em;
  font-weight: bold;
  text-align: center;
  color: white;
  border-radius: 2px;
}

.calendar-day-base {
    font-size: 80%;
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 0.1em;
    margin: 2px;
    border-radius: 12.5px;
}

.calendar-day-heading {
    color: rgba(0, 0, 0, 0.75);
    margin-top: 1em;
    font-size: 70%;
}

.calendar-day {
    border-width: 0;
    color: rgba(0, 0, 0, 0.9);
}

.calendar-day-top {
    border-top-width: 0;
}

.calendar-day-left {
    border-left-width: 0;
}

.calendar-nonwork-day {
    color: #000000;
    background-color: transparent;
    font-weight: bold;
}

.calendar-today {
    font-weight: bold;
    border: 0px solid rgba(64, 128, 251, 0.5);
    background-image: url('menu/calendar-today.png');
}

.calendar-other-month-day {
    color: #949496;
    opacity: 0.5;
}

/* ===================================================================
 * Notifications
 * ===================================================================*/
#notification {

  border-radius: 6px;
  font-size: 8.5pt;
  background-color: #ffffe1;
  border: 1px solid #000;
  padding: 6px 6px 6px 6px;
  spacing-rows: 10px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 19px;
  margin-from-top-edge-of-screen: 30px;
  width: 27em;
  color: black;
}

#notification.multi-line-notification {
  padding-bottom: 13px;
  color: white;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
	taken into account during allocation, so its height ends up being limited by the height
	of the content in the other rows. To avoid showing a stretched image, we set the minimum
	height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
  min-height: 159px;
  color: white;
}

#notification-scrollview {
  max-height: 10em;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
  height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
  padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
  padding-right: 6px;
}

#notification-body {
  spacing: 5px;
}

#notification-actions {
  spacing: 10px;
}

.notification-button {
  border-radius: 5px;
  padding: 4px 8px 5px;
}

.notification-button:focus {
  padding: 3px 8px 4px;
}

.notification-icon-button {
  border-radius: 5px;
  padding: 5px;
}

.notification-icon-button:focus {
  padding: 4px;
}

.notification-icon-button > StIcon {
  icon-size: 36px;
}

#notification StEntry {
  padding: 4px;
  border-radius: 4px;
  color: #a8a8a8;
  selected-color: black;
  border: 1px solid rgba(245,245,245,0.2);
  background-gradient-direction: vertical;
  background-gradient-start: rgb(200,200,200);
  background-gradient-end: white;
  transition-duration: 300;
  caret-color: #a8a8a8;
  caret-size: 1px;
}
#notification StEntry:focus {
  border: 1px solid #8b8b8b;
  color: #333333;
  background-gradient-direction: vertical;
  background-gradient-start: rgb(200,200,200);
  background-gradient-end: white;
  caret-color: #545454;
  selection-background-color: #808080;
}

/* ===================================================================
 * Alt Tab
 * ===================================================================*/

#altTabPopup {
  padding: 8px;
  spacing: 16px;
}

.switcher-list {
  background-color: #2d75ad;
  background-gradient-direction: vertical;
  background-gradient-start: #2d75ad;
  background-gradient-end: #013b6b;
  border-radius: 4px;
  padding: 20px;
  border: solid 1px black;
  box-shadow: 2px solid rgba(0,0,0,0.4) 2px 2px;
  color: black;
  border-image: url('menu/tab.png') 4 4 4 4;
}

.switcher-list-item-container {
  spacing: 8px;
}

.thumbnail-scroll-gradient-left {
  background-color: #2d75ad;
  background-gradient-direction: vertical;
  background-gradient-start: #2d75ad;
  background-gradient-end: #013b6b;
  border-radius: 24px;
  border-radius-topright: 0px;
  border-radius-bottomright: 0px;
  width: 60px;
}

.thumbnail-scroll-gradient-right {
  background-color: #2d75ad;
  background-gradient-direction: vertical;
  background-gradient-start: #2d75ad;
  background-gradient-end: #013b6b;
  border: 1px solid  #399cee;
  border-radius: 0px;
  width: 60px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

.switcher-list .item-box {
  padding: 8px;
  color: black;
  border: 4px solid rgba(0,0,0,0);
  border-radius: 8px;
}

.switcher-list .item-box:outlined {
  background-color: #399cee;
  border-radius: 0px;
}

.switcher-list .item-box:selected {
  border-radius: 0px;
  border: 4px solid #379aff;
}

.switcher-list .thumbnail-box {
  padding: 2px;
  spacing: 4px;
}

.switcher-list .thumbnail {
  width:  256px;
}

.switcher-list .separator {
  width: 1px;
  background: rgba(255,255,255,0.33);
}

.ripple-box {
  width: 300px;
  height: 300px;
  background-gradient-end: rgba(57,156,238,0.8);
  background-gradient-start: rgba(0,0,0,0.3);
  background-gradient-direction: radial;
  box-shadow: outset 0px 0px 5px 5px #399cee;
  border-radius: 150px;
}

.ripple-box:rtl {
  width: 300px;
  height: 300px;
  background-gradient-end: rgba(57,156,238,0.8);
  background-gradient-start: rgba(0,0,0,0.3);
  background-gradient-direction: radial;
  box-shadow: outset 0px 0px 5px 5px #399cee;
  border-radius: 150px;
}

.switcher-arrow {
  border-color: rgba(0,0,0,0);
  color: #808080;
}

.switcher-arrow:highlighted {
  border-color: rgba(0,0,0,0);
  color: white;
}

.switcher-preview-backdrop {
  background-color: rgba(25,25,25,0.95);
}

/* ===================================================================
 * Modal dialogs (modalDialog.js)
 * ===================================================================*/

.modal-dialog {
  font-size: 10pt;
  border-radius: 2px;
  background-color: #2d75ad;
  border: 2px solid #013b6b;
  border-image: url('menu/popupmenu.png') 4;
  color: #000;
  padding-right: 42px;
  padding-left: 42px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.modal-dialog-button-box {
  spacing: 21px;
}

.modal-dialog-button {
  border-radius: 4px;
  font-size: 10pt;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  padding: 4px 32px 5px;
}

.modal-dialog-button:hover {
}

.modal-dialog-button:active,
.modal-dialog-button:checked {
  color: black;
  border-image: url('buttons/button-focused-pressed.png') 5;
}

.modal-dialog-button:disabled {
  color: rgb(60, 60, 60);
}

.modal-dialog-button:focus {
  padding: 3px 31px 4px;
}

/* ===================================================================
 * dialogs (dialog.js)
 * ===================================================================*/
.dialog {
  border-image: url('menu/popupmenu.png') 6;
  color: #3c3c3e;
  background-color: #F5F5F7;
    padding: 20px;
    border: 1px;
    border-color: black;
}

.dialog-button-box {
}

.dialog-button {
    height: 22px;
    color: rgb(70, 70, 70);
    border-image: url('buttons/button.png') 5;
    padding: 3px 31px 4px;
}

.dialog-button:hover {
    border-image: url('buttons/button-hover.png') 5;
}

.dialog-button:focus {
    border-image: url('buttons/button-focused.png') 5;
    padding: 3px 31px 4px;
}

.dialog-button:active,
.dialog-button:checked {
    border-image: url('buttons/button-pressed.png') 5;
    color: white;
}

.dialog-button:focus:hover {
    border-image: url('buttons/button-focused-prelight.png') 5;
    padding: 3px 31px 4px;
}

.dialog-button:focus:checked,
.dialog-button:focus:active {
    border-image: url('buttons/button-focused-pressed.png') 5;
}

.dialog-button:disabled {
    color: #a6a6a6;
}

.dialog-button:destructive-action {
    color: #c21616;
}

.dialog-list .dialog-list-title {
    padding: 1.3em;
    text-align: center;
    color: rgb(70, 70, 70);
}

.dialog-list-item .dialog-list-item-description {
    color: rgb(70, 70, 70);
}

/* ===================================================================
 * Policykit authentication dialog
 * ===================================================================*/

.prompt-dialog {
    /* this is the width of the entire modal popup */
    width: 500px;
}

.polkit-dialog-user-layout {
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-right: 10px;
}

.polkit-dialog-user-combo {
    border-image: url('buttons/button.png') 5;
    padding: 0.5em 2em;
    color: rgb(70, 70, 70);
}

.polkit-dialog-user-combo:hover {
    border-image: url('buttons/button-hover.png') 5;
}

.polkit-dialog-user-combo:focus {
    border-image: url('buttons/button-focused.png') 5;
}

.polkit-dialog-user-combo:active,
.polkit-dialog-user-combo:checked {
    border-image: url('buttons/button-pressed.png') 5;
}

.polkit-dialog-user-combo:focus:hover {
    border-image: url('buttons/button-hover.png') 5;
    padding: 3px 31px 4px;
}

.polkit-dialog-user-combo:focus:checked,
.polkit-dialog-user-combo:active {
    border-image: url('buttons/button-focused-pressed.png') 5;
}

.polkit-dialog-user-combo:disabled,
.polkit-dialog-user-combo:insensitive {
    color: #a6a6a6;
}

.prompt-dialog-password-entry {
    padding: 4px 12px;
    color: black;
    border-image: url('menu/entry.png') 6;
    border-radius: 4px;
    caret-color: #2b2b2b;
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
    selected-color: #fff;
    selection-background-color: #6cabcd;
}

.prompt-dialog-password-entry:focus {
    padding: 4px 12px;
    color: black;
    border-image: url('menu/entry_focus.png') 6;
    border-radius: 4px;
    width: 250px;
    selected-color: #fff;
    caret-color: #2b2b2b;
    caret-size: 1px;
    selection-background-color: #6cabcd;
    transition-duration: 150;
}

.prompt-dialog-password-entry .capslock-warning {
    icon-size: 16px;
    warning-color: rgb(64, 64, 64);
    padding: 0 4px;
}

.prompt-dialog-error-label {
    text-align: center;
    font-size: 1em;
    color: #ff0000;
}

.prompt-dialog-info-label {
    font-size: 1em;
}

/* ===================================================================
 * Run dialog
 * ===================================================================*/

.run-dialog-description {
    text-align: center;
    color: rgb(70, 70, 70);
}

.run-dialog-entry {
  color: white;
  caret-color: white;
  caret-size: 1px;
  selected-color: white;
  selection-background-color: #4080FB;
  padding: 8px 12px 9px 12px;
  transition-duration: 300ms;
  border: none;
  box-shadow: none;
  background: none;
  background-gradient-direction: none;
  border-image: url('menu/entry.png') 4; 
}

/*.run-dialog-entry:focus {
    padding: 4px 12px;
    color: #2b2b2b;
    border-image: url('misc-assets/entry-focus.png') 6;
    border-radius: 4px;
    width: 250px;
    min-height: 16px;
    selected-color: #fff;
    caret-color: #2b2b2b;
    caret-size: 1px;
    selection-background-color: #6cabcd;
    transition-duration: 150;
}*/

.run-dialog-label {
  font-size: 1em;
  font-weight: bold;
  color: white;
  padding-bottom: .8em;
}

.run-dialog-error-label {
  color: #FF6767;
}

.run-dialog-error-box {
  padding-top: 15px;
  spacing: 5px;
}

.run-dialog-completion-box { 
  padding-left: 15px;
  font-size: 10px;
}

.run-dialog {
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 0px;
  padding-top: 20px;
}

.run-dialog .modal-dialog-button-box {
  border: none;
  box-shadow: none;
  background: none;
  background-gradient-direction: none;
}

.run-dialog > * {
  padding: 0px;
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.4);
}

/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
  icon-size: 48px;
}

.mount-password-reask {
  color: #FF6767;
}

.show-processes-dialog,
.mount-question-dialog {
  spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
  padding-left: 0px;
  padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
  padding-left: 17px;
  width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
  padding-right: 17px;
}

.show-processes-dialog-app-list {
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
  padding-right: 49px;
  padding-left: 32px;
}

.show-processes-dialog-app-list-item {
  color: #ccc;
}

.show-processes-dialog-app-list-item:hover {
  color: white;
}

.show-processes-dialog-app-list-item:ltr {
  padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
  padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
  padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
  padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
  font-size: 1.1em;
}

/* ###################################################################
 * Audio device selection dialog
 * ###################################################################*/

.audio-device-selection-dialog .audio-selection-box .audio-selection-device {
    border-image: url('buttons/button.png') 4;
    color: rgb(70, 70, 70);
}
.audio-device-selection-dialog .audio-selection-box .audio-selection-device:focus {
    border-image: url('buttons/button-focused.png') 4;
}
.audio-device-selection-dialog .audio-selection-box .audio-selection-device:hover {
    border-image: url('buttons/button-hover.png') 4;
}
.audio-device-selection-dialog .audio-selection-box .audio-selection-device:insensitive {
    color: #a6a6a6
}
.audio-device-selection-dialog .audio-selection-box .audio-selection-device:selected,
.audio-device-selection-dialog .audio-selection-box .audio-selection-device:active,
.audio-device-selection-dialog .audio-selection-box .audio-selection-device:checked {
    border-image: url('buttons/button-pressed.png') 4;
}

/* ===================================================================
 * Magnifier
 * ===================================================================*/

.magnifier-zoom-region {
  border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
  border-width: 0px;
}

/* ===================================================================
 * On screen keyboard
 * ===================================================================*/

#keyboard {
  background: rgba(0,0,0,0.8);
}

.keyboard-layout {
  spacing: 10px;
  padding: 10px;
}

.keyboard-row {
  spacing: 15px;
}

.keyboard-key {
  min-height: 30px;
  min-width: 30px;
  background: none;
  background-gradient-direction: none;
  border: 1px solid;
  border-image: url('buttons/button.png') 4;
  font-size: 1.6em;
  font-weight: bold;
  color: white;
}

.keyboard-key:grayed {
  color: #808080;
  border-color: #808080;
}

.keyboard-key:checked,
.keyboard-key:hover {
  background: none;
  background-gradient-direction: none;
  border: 1px solid;
  border-image: url('buttons/button-hover.png') 4;
}

.keyboard-key:active {
  background: none;
  background-gradient-direction: none;
  border: 1px solid;
  border-image: url('buttons/button-pressed.png') 5;
}

.keyboard-key:active {
  background: #808080;
}

.keyboard-subkeys {
  color: white;
  padding: 5px;
  -arrow-border-radius: 3px;
  -arrow-background-color: rgba(0,0,0,0.8);
  -arrow-border-width: 0px;
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 5px;
}

/* ###################################################################
 * Cinnamon Specific Section 
 * ###################################################################*/
/* ===================================================================
 * Menu (menu.js)
 * ===================================================================*/
/* Main menu title */

.menu-favorites-box {
  color: #fff;
  margin: auto;
  padding: 0px;
  background-color: transparent;
  border-radius: 0px;
  border-image: url('menu/favs.png') 5 5 5 5;
  width: 70%;
}

.menu-background {
  border: solid 1px transparent;
  border-image: url('menu/menu-bg.png') 8 8 63 41;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  padding: 55px 1px 10px 1px;
}

.menu-favorites-button {
  padding: 10px;
  border-radius: 0px;
}

.menu-favorites-button:hover {
  background-color: #335ea8;
}

.menu-places-box {
  margin: auto;
  padding: 8px;
  border: 0px solid #666;
}

.menu-places-button {
  padding: 10px;
}

.menu-categories-box {
  padding: 10px;
}

.menu-applications-box {
  padding: 10px 0px 0px 10px;
  background-color: transparent;
  border: none;
  /*    border-image: url('favs.png') 5 5 5 5;*/
}

.menu-applications-inner-box {
  padding: 0 5px 5px 0;
  background-color: #5373bf;
}

.menu-applications-box StScrollBar {
  padding: 0px;
}

.menu-applications-box StScrollView {
  border: 0px solid #305496;
  border-image: none;
  border-right-width: 0px;
}


.menu-applications-box StBin#trough {
  background: none;
  border-width: 0px;
  box-shadow: none;
  border-image: url('menu/trough-scrollbar-vert.png') 1;
}

.menu-applications-box StButton#vhandle {
  border-image: url('menu/slider-vert.png') 3;
  background: url('menu/handle-vert.png') no-repeat center center;
}

.menu-applications-box StButton#vhandle:hover {
  border-image: url('menu/slider-vert-hover.png') 3;
  background: url('menu/handle-vert.png') no-repeat center center;
}

.menu-application-button {
  padding: 7px;
  max-width: 10px;
  color: white;
}

.menu-application-button-selected {
  padding: 7px;
  color: white;
  background-color: #335ea8;
}

.menu-application-button-label:ltr {
  padding-left: 5px;
}

.menu-application-button-label:rtl {
  padding-right: 5px;
}

.menu-category-button {
  padding: 7px;
  color: white;
}

.menu-category-button-greyed {
  padding: 7px;
  color: #808080;
}

.menu-category-button-selected {
  padding: 7px;
  color: white;
  background-color: #335ea8;
}

.menu-category-button-label:ltr {
  padding-left: 5px
}

.menu-category-button-label:rtl {
  padding-right: 5px
}

/* Name and description of the currently hovered item in the menu
* This appears on the bottom right hand corner of the menu*/

.menu-selected-app-box {
  padding-top: 16px;
  padding-right: 30px;
  padding-left: 28px;
  text-align: right;
  color: white;
}

.menu-selected-app-title {
  font-weight: bold;
}

.menu-selected-app-description {
  max-width: 150px;
}
#menu-search-entry, #menu-search-entry:hover, #menu-search-entry:focus {
  padding: 5px 6px;
  color: #000;
  font: 9pt;
  height: 18px;
  width: 250px;
  selected-color: white;
  caret-color: #000;
  background-color: white;
  caret-size: 1px;
  margin-bottom: 10px;
}

.menu-search-box {
  padding-left: 20px;
  padding-bottom: 10px;
}

.menu-search-entry-icon {
  icon-size: 1em;
  color: #000;
}

/* Context menu (at the moment only for favorites) */
.menu-context-menu {
}


/* OSD
.info-osd {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 16px;
  color: white;
  border-image: url('menu/osd.svg') 10 10 9 11;
}

.osd-window {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 20px;
  margin: 32px;
  min-width: 64px;
  min-height: 64px;

  color: white;
  background: none;
  border: none;
  border-radius: 5px;
  border-image: url('menu/osd.svg') 10 10 9 11;
}

.osd-window .osd-monitor-label {
  font-size: 3em;
}

.osd-window .level {
  padding: 0px;
  height: 4px;
  background-color: transparent;
  border-radius: 2px;
  color: #4080fb;
} */

/* ===================================================================
 * Window list (windowList.js)
 * ===================================================================*/
.window-list-box {
  spacing: 5px;
  padding-top: 3px;
}

.window-list-item-label {
  font-weight: normal;
  width: 15em;
  min-width: 5px;
}

.window-list-item-box {
  border-image: url('panel/normal.png') 5;
  padding: 1px;
  transition-duration: 100;
}

.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus    {
  border-image: url('panel/active.png') 5;
}


.window-list-item-box:hover  {
  border-image: url('panel/hover.png') 5;
}

.window-list-item-box:focus:hover  {
  border-image: url('panel/active-hover.png') 5;
}

.window-list-item-demands-attention {
  border-image: url('panel/urgent.png');
}

/* https://github.com/B00merang-Project/Windows-XP/issues/44 */
.grouped-window-list-thumbnail-menu {
  spacing: 6px;
  padding: 6px 12px 12px 12px;
  border-image: url('panel/menu-bottom.png') 6;
  color: #ffffff;
}

/* experimental support for grouped window list */
.grouped-window-list-item-box {
  color: #ffffff;
  font-weight: normal;
  border-image: none;
  transition-duration: 100;
}

.grouped-window-list-item-box:hover {
  border-image: url('panel/hover.png') 4;
  transition-duration: 100;
}

.grouped-window-list-item-box:active,
.grouped-window-list-item-box:checked {
  border-image: url('panel/normal.png') 4;
  transition-duration: 100;
}

.grouped-window-list-item-box:active:hover,
.grouped-window-list-item-box:checked:hover {
  border-image: url('panel/hover.png') 8;
  transition-duration: 100;
}

.grouped-window-list-item-box:focus {
  border-image: url('panel/active.png') 8;
  transition-duration: 100;
}

.grouped-window-list-item-box:focus:hover {
  border-image: url('panel/active-hover.png') 8;
  transition-duration: 100;
}

.grouped-window-list-item-demands-attention {
  font-weight: normal;
  border-image: url('panel/urgent.png') 4;
  transition-duration: 100;
}

.grouped-window-list-item-attention:hover {
  border-image: url('panel/urgent.png') 4;
}

.window-list-item-box .progress,
.grouped-window-list-item-box .progress {
  background-color: #4b7843;
  transition-duration: 100;
}

.window-list-preview {
  spacing: 6px;
  color: #000000;
  border-image: url('menu/popupmenu.png') 8 8 8 8;
  border-radius: 0;
  padding: 6px 12px 12px 12px;
  font-size: 1em;
}

.grouped-window-list-thumbnail-menu {
  spacing: 6px;
  padding: 6px 12px 12px 12px;
}

.grouped-window-list-thumbnail-menu > StBoxLayout {
  padding: 4px;
}

.grouped-window-list-thumbnail-menu .item-box {
  padding: 10px;
  border-radius: 0;
  spacing: 4px;
}

.grouped-window-list-thumbnail-menu .item-box:outlined {
  padding: 8px;
  border: 1px solid #315aab;
}

.grouped-window-list-thumbnail-menu .item-box:selected {
  color: #ffffff;
  background-color: #315aab;
  border: none;
}
/* ===================================================================
 * Sound Applet (status/volume.js)
 * ===================================================================*/
.sound-button-container {
  padding-right: 3px;
  padding-left: 3px;
}

.sound-button {
  width: 22px;
  height: 13px;
  border-image: url('buttons/button.png') 4;
  padding: 8px;
}

.sound-button:hover {
  border-image: url('buttons/button-hover.png') 4;
}

.sound-button:active {
  border-image: url('buttons/button-pressed.png') 4;
}

.sound-button StIcon {
  icon-size: 1.4em;
}

.sound-track-infos {	
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sound-track-info {
  padding-top: 2px;
  padding-bottom: 2px;
}

.sound-track-info StIcon {
  icon-size: 1em;
}

.sound-track-info StLabel {
  padding-left: 5px;
  padding-right: 5px;
}

.sound-track-box {	
  padding-left: 15px;
  padding-right: 15px;	
  max-width: 220px;
}

.sound-seek-box {
  padding-left: 20px;
}

.sound-seek-box StLabel {
  padding-top: 5px;
}

.sound-seek-box StIcon {
  icon-size: 1em;
}

.sound-seek-slider {
  width: 140px;
}

.sound-volume-menu-item {
  padding: .4em 1.75em;
}

.sound-volume-menu-item StIcon {
  icon-size: 1.14em;
  padding-left: 8px;
  padding-right: 8px;
}

.sound-playback-control {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* 2.8 */
.sound-player {
  padding: 0 6px;
}

.sound-player > StBoxLayout:first-child {
  padding: 5px 10px 12px 10px;
  spacing: 0.5em;
}

.sound-player > StBoxLayout:first-child StButton:small {
  width: 16px;
  height: 8px;
  padding: 1px;
}

.sound-player > StBoxLayout:first-child StButton:small StIcon {
  icon-size: 12px;
}

.sound-player-generic-coverart {
  background: rgba(0, 0, 0, 0.2);
}

.sound-player-overlay {
  width: 290px;
  height: 70px;
  padding: 15px;
  spacing: 0.5em;
  background: rgba(0,0,0,0.75);
  border: 0px solid rgba(0,0,0,0.75);
  border-bottom: 1px;
  color: #fff;
}

.sound-player-overlay StButton {
  width: 22px;
  height: 13px;
  padding: 5px;
  color: rgba(255,255,255,0.6);
  border-radius: 2px;
  border: 1px solid rgba(0,0,0 0);
}

.sound-player-overlay StButton StIcon {
  icon-size: 16px;
}

.sound-player-overlay StButton:hover {
  color: #fff;
}

.sound-player-overlay StButton:active {
  color: #4080FB;
}
.sound-player-overlay StBoxLayout {
  padding-top: 2px;
}

.sound-player .slider {
  height: 0.5em;
  padding: 0;
  border: 0px solid rgba(0,0,0,0.75);
  border-bottom-width: 1px;
  -slider-height: 0.5em;
  -slider-background-color: rgb(35,35,35);
  -slider-border-color: transparent;
  -slider-active-background-color: #4080FB;
  -slider-active-border-color: transparent;
  -slider-border-width: 0px;
  -slider-handle-radius: 0px;
}

/* ===================================================================
 * Workspace Switcher applet (workspaceSwitcher.js)
 * ===================================================================*/
#workspaceSwitcher {
  spacing: 0px;
  padding: 3px;
}

.workspace-button {
  width: 20px;
  height: 10px;
  color: white;
  padding: 3px;
  padding-top: 4px;
  transition-duration: 300;
}

.workspace-button:outlined {
  border-image: url('panel/active.png') 3;
}

.workspace-button:hover {
  border-image: url('panel/active-hover.png') 3;
}

/* 2.8 */

/* Controls the styling when using the 'Simple buttons' option */
.workspace-switcher {
  padding-left: 3px;
  padding-right: 3px;
}

/* Controls the style when using the 'Visual representation' option */
.workspace-graph {
  padding: 3px;
  spacing: 3px;
}

/* Controls the style when using the 'Visual representation' option */
.workspace-graph {
  padding: 3px;
  spacing: 3px;
}

.workspace-graph .workspace {
  border: 1px solid rgba(255,255,255,0.2);
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0,0,0,0.6);
  background-gradient-end: rgba(0,0,0,0.1);
}

.workspace-graph .workspace:active {
  border: 1px solid rgba(255,255,255,0.4);
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0,0,0,0.6);
  background-gradient-end: rgba(0,0,0,0.1);

}

.workspace-graph .workspace .windows {
  -active-window-background: rgba(50, 50, 50, 1.0);
  -active-window-border: rgba(0, 0, 0, 0.7);
  -inactive-window-background: rgba(50, 50, 50, 1.0);
  -inactive-window-border: rgba(0, 0, 0, 0.7);
}

.workspace-graph .workspace:active .windows {
  -active-window-background: rgba(140, 140, 140, 1.0);
  -active-window-border: rgba(0, 0, 0, 0.9);
  -inactive-window-background: rgba(80, 80, 80, 1.0);
  -inactive-window-border: rgba(0, 0, 0, 0.7);
}


/* ===================================================================
 * Panel Launchers Applet (panelLaunchers.js)
 * ===================================================================*/
.panel-launchers .launcher {
    border: 1px solid transparent;
    padding-left: 2px;
    padding-right: 2px;
}

.panel-launchers .launcher:hover {
    border-image: url('panel/solid3.png') 4 2 4 2 stretch;
}


/* ===================================================================
 * Overview corner
 * ===================================================================*/
#overview-corner {
  background-image: url('menu/overview.png');
}

#overview-corner:hover {
  background-image:	url('menu/overview-hover.png');
}

/* ===================================================================
 * Applets (applet.js) 
 * ===================================================================*/
.applet-separator {
  padding: 1px 4px;
}

.applet-separator-line {
  width: 1px;
  background: rgba(255,255,255, 0.08);
}

.applet-box {
  padding-left: 2px;
  padding-right: 2px;
  color: white;
  text-shadow: none;
  transition-duration: 100;
}

.applet-box:checked,
.applet-box:hover {
  color: #fff;
  border-image: url('panel/applet-hover.png') 6 6 6 6 stretch;
}

.applet-label {	
  font-weight: bold;
  color: white;		
    padding-left: 2px;
    padding-right: 2px;
}

.applet-label:hover,
.applet-box:hover > .applet-label {
  color: #fff;
  text-shadow: none;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

.applet-icon {
  color: white;
  icon-size: 22px;
}

.applet-icon:hover,
.applet-box:hover > .applet-icon {
  color: #fff;
  icon-shadow: none;
}

#panelRight .applet-label,
#panelRight .applet-label:hover,
#panelRight .applet-box:hover > .applet-label {
  color: white;
}

/* ===================================================================
 * User Applet
 * ===================================================================*/
.user-icon {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.user-label {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
}

/* ===================================================================
 * Desklets (desklet.js) 
 * ===================================================================*/
.desklet {
  color: #eee;
}

.desklet-with-borders {
  border: 1px solid #444;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: #232323;
  border-radius: 0px;
  color: #eee;
}

.desklet-with-borders-and-header {
  border: 1px solid #444;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: #232323;
  color: #eee;
  border-radius-bottomleft: 0px;
  border-radius-bottomright: 0px;
}

.desklet-header {
  border-radius-topleft: 0px;
  border-radius-topright: 0px;
  font-size: 10.5pt;

  border: 1px solid #444;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: #232323;
  border-radius: 0px;
  color: #eee;
  padding: 6px;
}

.desklet-drag-placeholder {
  background-color: rgba(57,156,238,.31);
}

/* ===================================================================
 * Clock Desklet (desklet.js) 
 * ===================================================================*/
.clock-desklet-label {
}

.photoframe-box {
  padding: 6px;
  border: 1px solid #444;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: #232323;
  border-radius: 0px;

}
.xkcd-box {
  padding: 0px;
  border: none;
  background-color: none;
  border-radius: 0px;
}

/* ===================================================================
 * Workspace OSD
 * ===================================================================*/
/*FIXME*/
.workspace-osd {
  /*color: red;*/
  text-shadow: black 5px 5px 5px;
  font-weight: bold;
  font-size: 48pt;	
}

/* ===================================================================
 * Notification Applet
 * ===================================================================*/

.notification-applet-padding {
  padding: .5em 1em;
}

.notification-applet-container {
  max-height: 100px;
}

/* Check Boxes */
.check-box CinnamonGenericContainer {
  spacing: .2em;
  min-height: 30px;
  padding-top: 2px;
}

.check-box StBin {
  width: 16px;
  height: 16px;
  background-image: url('checkbox/checkbox-off.png');
}

.check-box:focus StBin {
  background-image: url('checkbox/checkbox-off-focus.png');
}

.check-box:checked StBin {
  background-image: url('checkbox/checkbox.png');
}

.check-box:focus:checked StBin {
  background-image: url('checkbox/checkbox-focus.png');
}

.check-box StLabel {
  font-weight: normal;
}

.radiobutton CinnamonGenericContainer {
  spacing: .2em;
  height: 26px;
  padding-top: 2px;
}

.radiobutton StBin {
  width: 22px;
  height: 22px;
  background-image: url('checkbox/radio-unchecked.png');
  border-radius: 1px;
}

.radiobutton:focus StBin {
  background-image: url('checkbox/radio-unchecked-hover.png');
}

.radiobutton:checked StBin {
  background-image: url('checkbox/radio-checked.png');
}

.radiobutton:focus:checked StBin {
  background-image: url('checkbox/radio-checked-hover.png');
}

.radiobutton StLabel {
  padding-top: 4px;
  font-size: 0.9em;
  box-shadow: none;
}

.flashspot {
  background-color: white;
}

/* ===================================================================
 * Snap/Tile OSD Popup
 * ===================================================================*/
.snap-osd {
  font-size: 18pt;
  border-radius: 24px;
  background-color: rgba(55,55,55,0.9);
  color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

/* ===================================================================
* CinnXPStarkMenu
* (if CinnXPStarkMenu is used, change some stuff, else use default)
* ===================================================================*/
.right-buttons-box {
  background-color: #5373bf;
  padding: 8px;
}
.starkmenu-background {
  border: solid 1px transparent;
  border-image: url('menu/menu-bg.png') 8 8 56 41;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  padding: 50px 1px 29px 1px;
}
.starkmenu-selected-app-box {
  color: white; /* Information, which is shown, if you select apps*/
}
.starkmenu-favorites-box {
  background-color: #10377c;
  border: 0px solid #10377c;
}
.starkmenu-applications-box {
  padding: 0px 0px 0px 0px;
}
.starkmenu-applications-inner-box {
  background-color: #5373bf;
}
.starkmenu-applications-box StScrollView {
  background-color: #10377c;
  color: white;
}
.starkmenu-search-box {
  padding-bottom: 5px;
}

.hover-user-icon {
  border-radius: 4px;
  border: 2px solid #f1f1f1;
}


/* ===================================================================
 * Weather Applet
 * ===================================================================*/

.weather-menu .popup-menu-content {
  padding-bottom: .4em;
}

.weather-menu .popup-separator-menu-item {
  border-image: none;
}

.current {
  padding-bottom: 4px;
}
/*FIXME*/
.forecast {
  padding-bottom: 4px;
  border-image: url('menu/menu-hover.svg') 7 7 1 1;
}

.weather-current-location-link:selected,
.weather-current-location-link:hover {
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255, 255, 255, 0.0);
  background-gradient-end: rgba(255, 255, 255, 0.0);
  color: #4080FB;
}

.weather-current-summarybox {
  padding-top: 0px;
  padding-bottom: 10px;
}

.weather-current-summary {
  font-size: 35px;
}

.weather-current-databox {
  padding-top: 7px;
  padding-left: 30px;
  font-size: 9pt;
}

.weather-current-icon {
  padding: 0 30px;
  padding-bottom: 15px;
}

.weather-current-iconbox {
  padding: 1em;
}

.weather-icon {
  padding-right: 5px;
}

.weather-icon-rtl {
  padding-left: 5px;
}

.weather-current-databox-captions {
  text-align: right;
  padding: 0;
  padding-right: 5px;
  spacing: 1px;
  font-size: 1em;
}

.weather-forecast-icon {
  padding-top: 16px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 32px;
}

.weather-forecast-databox {
  padding-top: 16px;
  padding-bottom: 7px;
  padding-right: 32px;
  padding-left: 0;
}

.weather-config {
  padding-right: 10px;
}

/* ===================================================================
 * Xkcd Desklet
 * ===================================================================*/
 
.xkcd-box {
	padding: 6px;
	border: 0px;
	background-color: rgba(0,0,0,0);
	border-radius: 0px;
}
